
<nav class="nav">
  <div class="container">
    <!--<h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>-->
    <a class="post-link" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a>


    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a></li>
      
      <li><a class="post-link" href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Blog</a></li>
      
      <!--
      <li><a href="{{ '/experience' | prepend: site.baseurl | prepend: site.url }}">Experience</a></li>  
      <li><a href="{{ '/secrets' | prepend: site.baseurl | prepend: site.url }}">Secrets</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
      -->
    </ul>
  </div>
</nav>
